{%include 'header.html'%}
<section class="admin_approval_container" >
    <div class="book_aproval_table-container">
            <div class="table-row">
              <div class="table-header">Name</div>
              <div class="table-header">Name of reserved Book</div>
              <div class="table-header">Current Status</div>
              <div class="table-header">Book Returned</div>
                <div class="table-header"> Returned Date</div>
                <div class="table-header">Reserve/Approved Date</div>

            </div>
        {% for users_with_book in users_with_books%}
            {%if users_with_book.book_approvals_status == 'Reserved':%}
                    <div class="table-row">
                      <div class="table-cell">{{users_with_book.first_name}}</div>
                      <div class="table-cell">{{users_with_book.title}}</div>
                      <div class="table-cell"><a class="approve_btn" href="{{url_for('approved_book',book_id=users_with_book.id,user_id=users_with_book.user_id)}}">Reserve</a></div>
                        <div class="table-cell">Total returned:{{reserve_books_count}}</div>
                        <div class="table-cell">{{users_with_book.return_book_date}}</div>
                        <div class="table-cell">{{users_with_book.reserve_book_date}}</div>
                    </div>
            {%elif users_with_book.book_approvals_status == "Approved":%}
                    <div class="table-row">
                      <div class="table-cell">{{users_with_book.first_name}}</div>
                      <div class="table-cell">{{users_with_book.title}}</div>
                      <div class="table-cell">Approved</div>
                      <div class="table-cell"><a class="return_btn" href="{{url_for('return_book',book_id=users_with_book.id,user_id=users_with_book.user_id)}}">Return</a></div>
                        <div class="table-cell">{{users_with_book.return_book_date}}</div>
                      <div class="table-cell">{{users_with_book.approve_book_date}}</div>
                    </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
{% include 'footer.html' %}