{% extends 'header.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{{super()}}

<section class="admin" >
            <div class="update_book">
                {% block adminsection %}
                        <ul>
                            {%if current_user.id == 1%}
                                <li><a href="{{url_for('add_book_details')}}">Add Book</a></li>
                                <li><a href="{{url_for('delete_book',book_id=book.id)}}">Delete Book</a></li>
                                <li><a href="{{url_for('edit_book',book_id=book.id)}}">Edit Book</a></li>
                            {% endif %}
                            <li><a href="{{url_for('reserve_book',book_id=book.id)}}">Reserve Book</a></li>
                            <li><a href="{{url_for('dereserve_book',book_id=book.id,user_id=current_user.id)}}">DeReserve Book</a></li>
                            <li><a href="{{url_for('renew_book',book_id=book.id)}}">Renew Book</a></li>

                        </ul>

            </div>
</section>
<section id="book_details">
    <div class="book_details">
        <img src="{{book.image}}" class="add_book_image" alt="{{book.title}}">
    </div>
     <div class="Comments">
         {{ ckeditor.load() }}
         {{ ckeditor.config(name='review_text') }}
         {{ wtf.quick_form(form, novalidate=True,method= "POST", button_map={"submit": "primary"}) }}
    </div>
</section>
<section class="review_gravator">
<div>
    {% for review in reviews %}
        <br>
        <img src="{{ current_user.email | gravatar }}"/>
        {{review.review_text}}

    {% endfor %}
</div>
</section>

{% include 'footer.html' %}
{%  endblock %}
